<p id="notice"><%= notice %></p>

  <%= image_tag @asset.url %>

<p>
  <strong>Title:</strong>
  <%= @asset.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @asset.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @asset.class.name %>
</p>


<p>
  <strong>Created at:</strong>
  <%= @asset.created_at %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
