<p id="notice"><%= notice %></p>

<h3>
	Product details
</h3>
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @product.published %>
</p>


<h3>
	Variants
</h3>
<ul>
<% @product.variants.each do |variant| %>
	<li>
		<%= variant.title %>

		<ul>
			<% variant.assets.each do |asset| %>
				<li>
					<a href="/assets/<%= asset.id %>"><%= image_tag(asset.url) %></a>
				</li>
			<% end %>
		</ul>
	</li>
<% end %>
</ul>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
